@mixin opacity( $percent ) {
	opacity: $percent / 100;
	filter: alpha(opacity=$percent);
}

@mixin blur( $amount ) {
	-webkit-filter: blur($amount);
	-moz-filter: blur($amount);
	-o-filter: blur($amount);
	-ms-filter: blur($amount);
	filter: blur($amount);
}

@mixin keyframes( $animation-name ) {
	@-webkit-keyframes #{$animation-name}{ @content; }
	@-moz-keyframes #{$animation-name}{ @content; }
	@-o-keyframes #{$animation-name}{ @content; }
	@keyframes #{$animation-name}{ @content; }
}

@mixin animation( $args... ) {
	-webkit-animation: $args;
	-moz-animation:    $args;
	-o-animation:      $args;
	animation:         $args;
}


@mixin transform( $args... ) {
	        transform: $args;
		 -o-transform: $args;
	    -ms-transform: $args;
	   -moz-transform: $args;
	-webkit-transform: $args;
}


@mixin transform-style( $args... ) {
			transform-style: $args;
	-webkit-transform-style: $args;
		-ms-transform-style: $args;
}




@mixin transition( $args... ) {
	 -webkit-transition: $args;
		-moz-transition: $args;
		  -o-transition: $args;
			 transition: $args;
}


@mixin border-radius( $topleft: 0px, $topright: 0px, $bottomright: 0px, $bottomleft: 0px ) {
	-webkit-border-top-left-radius: $topleft;
	-webkit-border-top-right-radius: $topright;
	-webkit-border-bottom-right-radius: $bottomright;
	-webkit-border-bottom-left-radius: $bottomleft;
	-moz-border-radius-topleft: $topleft;
	-moz-border-radius-topright: $topright;
	-moz-border-radius-bottomright: $bottomright;
	-moz-border-radius-bottomleft: $bottomleft;
	border-top-left-radius: $topleft;
	border-top-right-radius: $topright;
	border-bottom-right-radius: $bottomright;
	border-bottom-left-radius: $bottomleft;
}


@mixin rounded( $radius: 5px ) {
	@include border-radius( $radius, $radius, $radius, $radius );
}


@mixin box-sizing( $type: border-box ) {
	-moz-box-sizing:    $type;
	-webkit-box-sizing: $type;
	box-sizing:         $type;
}


@mixin box-shadow( $args... ) {
	-webkit-box-shadow: $args;
	-moz-box-shadow: $args;
	box-shadow: $args;
}


@mixin text-shadow( $horizontal: 0px, $vertical: 1px, $blur: 0px, $color: #000000 ) {
	text-shadow: $horizontal $vertical $blur $color;
}

@mixin grayscale_element($value) {
	-webkit-filter: grayscale($value);
	-moz-filter: grayscale($value);
	filter: grayscale($value);
}