*, *:active, *:focus {
  outline: 0 !important; }

ul, ol {
  list-style: none; }

html, body {
  font-family: Arimo;
  color: #191a17; }

a:hover {
  text-decoration: none; }

.uppercase, h2, ul.iconlist > li > div.container > a > span.title {
  text-transform: uppercase; }

.fat32, #nav-wrapper #nav, #main-wrapper #sub-wrapper #partner-wrapper #partners, #main-wrapper #sub-wrapper #about-us-wrapper #about-us, #main-wrapper #sub-wrapper #services-wrapper #services, #main-wrapper #sub-wrapper #equipment > ul > li > div.gallery-wrapper, #main-wrapper #sub-wrapper #footer-wrapper #footer {
  width: 1000px;
  margin: 0 auto; }

h2 {
  padding: 120px 0 0px;
  margin: 0;
  text-align: center;
  color: #191a17;
  font-size: 40px;
  font-weight: normal; }
  h2.short {
    padding: 30px 0 60px; }

p {
  padding: 20px 0 0;
  margin: 0;
  color: #41403b;
  text-align: center;
  font-size: 22px; }

#nav-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 200;
  background: url(/img/BG/a-vector-pattern-dark.png) repeat left top;
  border-bottom: 1px solid rgba(126, 127, 125, 0.8);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8); }
  #nav-wrapper #nav:before, #nav-wrapper #nav:after {
    content: " ";
    display: table; }
  #nav-wrapper #nav:after {
    clear: both; }
  #nav-wrapper #nav a#logo {
    display: block;
    float: left;
    width: 92px;
    height: 70px;
    margin: 10px 0 0; }
    #nav-wrapper #nav a#logo > object {
      width: inherit;
      height: inherit; }
  #nav-wrapper #nav ul {
    display: block;
    float: left;
    list-style: none;
    margin: 0 0 0 30px;
    padding: 0; }
    #nav-wrapper #nav ul > li {
      display: block;
      float: left; }
      #nav-wrapper #nav ul > li > a {
        display: block;
        height: 100px;
        box-sizing: border-box;
        padding: 20px 20px 0;
        color: #a5a893;
        font-weight: bold;
        font-size: 18px;
        -webkit-transition: color 0.2s ease-out;
        -moz-transition: color 0.2s ease-out;
        -o-transition: color 0.2s ease-out;
        transition: color 0.2s ease-out; }
        #nav-wrapper #nav ul > li > a > i {
          display: block;
          text-align: center; }
        #nav-wrapper #nav ul > li > a > span {
          display: block;
          padding: 5px 10px 0; }
        #nav-wrapper #nav ul > li > a:hover {
          color: #FFF; }
  #nav-wrapper #nav > div {
    float: right;
    margin: 29px 0 0;
    color: #f4efe0;
    font-size: 30px;
    font-weight: bold;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate3d(200px, 0, 0);
    -o-transform: translate3d(200px, 0, 0);
    -ms-transform: translate3d(200px, 0, 0);
    -moz-transform: translate3d(200px, 0, 0);
    -webkit-transform: translate3d(200px, 0, 0);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
    #nav-wrapper #nav > div.shown {
      opacity: 1;
      filter: alpha(opacity=100);
      transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0); }

#main-wrapper {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh; }
  #main-wrapper #sub-wrapper #top {
    position: relative;
    width: 100vw;
    height: 100vh;
    min-height: 850px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 101px;
    overflow: hidden;
    background: url(/img/BG/Top-BG.png) no-repeat center center;
    background-size: cover; }
    #main-wrapper #sub-wrapper #top #video-wrapper {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 5; }
    #main-wrapper #sub-wrapper #top #lang-wrapper > ul {
      z-index: 10;
      display: none;
      width: 260px;
      height: 76px;
      margin: 40px auto 0;
      padding: 0;
      position: relative;
      list-style: none; }
      #main-wrapper #sub-wrapper #top #lang-wrapper > ul > li {
        position: absolute;
        top: 0px;
        display: block;
        width: 76px;
        height: 76px;
        border: 2px solid #fff;
        -webkit-border-top-left-radius: 55px;
        -webkit-border-top-right-radius: 55px;
        -webkit-border-bottom-right-radius: 55px;
        -webkit-border-bottom-left-radius: 55px;
        -moz-border-radius-topleft: 55px;
        -moz-border-radius-topright: 55px;
        -moz-border-radius-bottomright: 55px;
        -moz-border-radius-bottomleft: 55px;
        border-top-left-radius: 55px;
        border-top-right-radius: 55px;
        border-bottom-right-radius: 55px;
        border-bottom-left-radius: 55px;
        background: no-repeat center center;
        background-size: cover;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        cursor: pointer; }
        #main-wrapper #sub-wrapper #top #lang-wrapper > ul > li.left, #main-wrapper #sub-wrapper #top #lang-wrapper > ul > li.right {
          z-index: 11;
          left: 92px;
          transform: scale(0.7);
          -o-transform: scale(0.7);
          -ms-transform: scale(0.7);
          -moz-transform: scale(0.7);
          -webkit-transform: scale(0.7);
          opacity: 0.6;
          filter: alpha(opacity=60); }
          #main-wrapper #sub-wrapper #top #lang-wrapper > ul > li.left:hover, #main-wrapper #sub-wrapper #top #lang-wrapper > ul > li.right:hover {
            transform: scale(0.8);
            -o-transform: scale(0.8);
            -ms-transform: scale(0.8);
            -moz-transform: scale(0.8);
            -webkit-transform: scale(0.8);
            opacity: 1;
            filter: alpha(opacity=100); }
        #main-wrapper #sub-wrapper #top #lang-wrapper > ul > li.selected {
          left: 92px;
          z-index: 12; }
          #main-wrapper #sub-wrapper #top #lang-wrapper > ul > li.selected:hover {
            transform: scale(1.1);
            -o-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1); }
        #main-wrapper #sub-wrapper #top #lang-wrapper > ul > li.en {
          background-image: url(/img/Elements/Flags/en.png); }
        #main-wrapper #sub-wrapper #top #lang-wrapper > ul > li.lv {
          background-image: url(/img/Elements/Flags/lv.png); }
        #main-wrapper #sub-wrapper #top #lang-wrapper > ul > li.ru {
          background-image: url(/img/Elements/Flags/ru.png); }
      #main-wrapper #sub-wrapper #top #lang-wrapper > ul:hover > li.left {
        left: 0px; }
      #main-wrapper #sub-wrapper #top #lang-wrapper > ul:hover > li.right {
        left: 184px; }
    #main-wrapper #sub-wrapper #top #slogan {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 64%;
      z-index: 10;
      margin: 0 auto;
      text-align: center;
      color: #f4efe0;
      font-size: 50px;
      text-transform: uppercase;
      text-shadow: 1px 4px 2px black; }
    #main-wrapper #sub-wrapper #top #tyre {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 40px;
      z-index: 9;
      margin-left: auto;
      margin-right: auto;
      width: 500px;
      height: 500px;
      padding: 200px 0 0;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      color: #191a17;
      font-weight: bold;
      font-size: 60px;
      text-align: center;
      background: url(/img/Elements/riepas-bg.png) no-repeat center center; }
      #main-wrapper #sub-wrapper #top #tyre > div {
        position: absolute;
        left: 0;
        top: 0;
        width: 500px;
        height: 500px;
        background: url(/img/Elements/riepa.png) no-repeat center center;
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d; }
  #main-wrapper #sub-wrapper #partner-wrapper {
    background: #fffefd url(/img/Logos/logo-desa-v.png) repeat-x center bottom;
    padding: 0 0 160px;
    -webkit-animation: background-rush 60s linear infinite;
    -moz-animation: background-rush 60s linear infinite;
    -o-animation: background-rush 60s linear infinite;
    animation: background-rush 60s linear infinite; }
    #main-wrapper #sub-wrapper #partner-wrapper #partners {
      padding: 0 0; }
  #main-wrapper #sub-wrapper #about-us-wrapper {
    background: #dcd6c6; }
    #main-wrapper #sub-wrapper #about-us-wrapper #about-us {
      padding: 0 0 100px; }
  #main-wrapper #sub-wrapper #services-wrapper {
    background: #dcd6c6; }
    #main-wrapper #sub-wrapper #services-wrapper #services {
      padding: 0 0 100px; }
  #main-wrapper #sub-wrapper #equipment {
    position: relative;
    overflow: hidden;
    width: 100vw; }
    #main-wrapper #sub-wrapper #equipment > h2 {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 20;
      color: #FFF;
      padding: 150px 0 0; }
    #main-wrapper #sub-wrapper #equipment > ul {
      position: relative;
      left: 0;
      display: block;
      width: 99999px;
      list-style: none;
      margin: 0;
      padding: 0; }
      #main-wrapper #sub-wrapper #equipment > ul:before, #main-wrapper #sub-wrapper #equipment > ul:after {
        content: " ";
        display: table; }
      #main-wrapper #sub-wrapper #equipment > ul:after {
        clear: both; }
      #main-wrapper #sub-wrapper #equipment > ul > li {
        position: relative;
        display: block;
        float: left;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        min-height: 800px;
        margin: 0;
        padding: 0; }
        #main-wrapper #sub-wrapper #equipment > ul > li > div.overlay {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          z-index: 4;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.8); }
        #main-wrapper #sub-wrapper #equipment > ul > li > div.gallery-wrapper {
          position: absolute;
          top: 29%;
          left: 0;
          right: 0;
          z-index: 5; }
          #main-wrapper #sub-wrapper #equipment > ul > li > div.gallery-wrapper:before, #main-wrapper #sub-wrapper #equipment > ul > li > div.gallery-wrapper:after {
            content: " ";
            display: table; }
          #main-wrapper #sub-wrapper #equipment > ul > li > div.gallery-wrapper:after {
            clear: both; }
          #main-wrapper #sub-wrapper #equipment > ul > li > div.gallery-wrapper > ul {
            display: block;
            float: left;
            width: 60%;
            height: 400px; }
            #main-wrapper #sub-wrapper #equipment > ul > li > div.gallery-wrapper > ul:before, #main-wrapper #sub-wrapper #equipment > ul > li > div.gallery-wrapper > ul:after {
              content: " ";
              display: table; }
            #main-wrapper #sub-wrapper #equipment > ul > li > div.gallery-wrapper > ul:after {
              clear: both; }
            #main-wrapper #sub-wrapper #equipment > ul > li > div.gallery-wrapper > ul > li {
              display: block;
              float: right;
              margin: 0;
              padding: 0;
              background: #000; }
              #main-wrapper #sub-wrapper #equipment > ul > li > div.gallery-wrapper > ul > li > a {
                display: block;
                background: no-repeat center center;
                background-size: cover;
                width: 186px;
                height: 200px;
                opacity: 0.6;
                filter: alpha(opacity=60);
                -webkit-transition: opacity 0.3s ease-out;
                -moz-transition: opacity 0.3s ease-out;
                -o-transition: opacity 0.3s ease-out;
                transition: opacity 0.3s ease-out; }
                #main-wrapper #sub-wrapper #equipment > ul > li > div.gallery-wrapper > ul > li > a:hover {
                  opacity: 1;
                  filter: alpha(opacity=100); }
          #main-wrapper #sub-wrapper #equipment > ul > li > div.gallery-wrapper > div {
            float: left;
            width: 40%;
            height: 400px;
            background: #1a1b18; }
            #main-wrapper #sub-wrapper #equipment > ul > li > div.gallery-wrapper > div.alone {
              width: 100%; }
            #main-wrapper #sub-wrapper #equipment > ul > li > div.gallery-wrapper > div > h3 {
              text-transform: uppercase;
              color: #f4efe0;
              font-weight: normal;
              font-size: 24px;
              text-align: center;
              padding: 20px 0 0; }
            #main-wrapper #sub-wrapper #equipment > ul > li > div.gallery-wrapper > div > p {
              position: relative;
              overflow: hidden;
              display: block;
              height: 280px;
              margin: 20px 0 0;
              padding: 0px 30px;
              font-size: 20px;
              color: #ddd7c8;
              text-align: left; }
    #main-wrapper #sub-wrapper #equipment > div {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 7%;
      z-index: 20;
      text-align: center; }
      #main-wrapper #sub-wrapper #equipment > div > a {
        display: inline-block;
        width: 100px;
        height: 100px;
        margin: 0 5px; }
        #main-wrapper #sub-wrapper #equipment > div > a > span {
          display: block;
          width: 100px;
          height: 100px;
          background: #000 no-repeat center center;
          background-size: cover;
          border: 2px solid #FFF;
          -webkit-border-top-left-radius: 50px;
          -webkit-border-top-right-radius: 50px;
          -webkit-border-bottom-right-radius: 50px;
          -webkit-border-bottom-left-radius: 50px;
          -moz-border-radius-topleft: 50px;
          -moz-border-radius-topright: 50px;
          -moz-border-radius-bottomright: 50px;
          -moz-border-radius-bottomleft: 50px;
          border-top-left-radius: 50px;
          border-top-right-radius: 50px;
          border-bottom-right-radius: 50px;
          border-bottom-left-radius: 50px;
          -webkit-filter: grayscale(100%);
          -moz-filter: grayscale(100%);
          filter: grayscale(100%);
          opacity: 0.6;
          filter: alpha(opacity=60);
          transform: scale(0.8);
          -o-transform: scale(0.8);
          -ms-transform: scale(0.8);
          -moz-transform: scale(0.8);
          -webkit-transform: scale(0.8);
          -webkit-transition: all 0.2s ease-out;
          -moz-transition: all 0.2s ease-out;
          -o-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out; }
        #main-wrapper #sub-wrapper #equipment > div > a:hover > span {
          opacity: 0.9;
          filter: alpha(opacity=90);
          -webkit-filter: grayscale(50%);
          -moz-filter: grayscale(50%);
          filter: grayscale(50%);
          transform: scale(0.9);
          -o-transform: scale(0.9);
          -ms-transform: scale(0.9);
          -moz-transform: scale(0.9);
          -webkit-transform: scale(0.9); }
        #main-wrapper #sub-wrapper #equipment > div > a.active > span, #main-wrapper #sub-wrapper #equipment > div > a.active:hover > span {
          opacity: 1;
          filter: alpha(opacity=100);
          -webkit-filter: grayscale(0%);
          -moz-filter: grayscale(0%);
          filter: grayscale(0%);
          transform: scale(1);
          -o-transform: scale(1);
          -ms-transform: scale(1);
          -moz-transform: scale(1);
          -webkit-transform: scale(1); }
  #main-wrapper #sub-wrapper #works > ul {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0; }
    #main-wrapper #sub-wrapper #works > ul:before, #main-wrapper #sub-wrapper #works > ul:after {
      content: " ";
      display: table; }
    #main-wrapper #sub-wrapper #works > ul:after {
      clear: both; }
    #main-wrapper #sub-wrapper #works > ul > li {
      display: block;
      float: left;
      width: 50%;
      margin: 0;
      padding: 0;
      background: #000; }
      #main-wrapper #sub-wrapper #works > ul > li > a {
        display: block;
        width: 100%;
        height: 300px;
        margin: 0;
        padding: 0;
        background: no-repeat center center;
        background-size: cover;
        opacity: 0.6;
        filter: alpha(opacity=60);
        -webkit-transition: opacity 0.3s ease-out;
        -moz-transition: opacity 0.3s ease-out;
        -o-transition: opacity 0.3s ease-out;
        transition: opacity 0.3s ease-out; }
        #main-wrapper #sub-wrapper #works > ul > li > a:hover {
          opacity: 1;
          filter: alpha(opacity=100); }
  #main-wrapper #sub-wrapper #footer-wrapper {
    position: relative;
    z-index: 20;
    -webkit-box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.6);
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.6);
    border-top: 1px solid rgba(126, 127, 125, 0.8);
    background: #191a17;
    padding: 0 0 20px; }
    #main-wrapper #sub-wrapper #footer-wrapper #footer {
      text-align: center; }
      #main-wrapper #sub-wrapper #footer-wrapper #footer > table {
        width: 100%;
        margin: 20px 0; }
        #main-wrapper #sub-wrapper #footer-wrapper #footer > table > tbody {
          border-collapse: collapse; }
          #main-wrapper #sub-wrapper #footer-wrapper #footer > table > tbody > tr > td {
            color: #f4efe0;
            text-align: center; }
            #main-wrapper #sub-wrapper #footer-wrapper #footer > table > tbody > tr > td.back-to-top {
              padding: 0 80px; }
              #main-wrapper #sub-wrapper #footer-wrapper #footer > table > tbody > tr > td.back-to-top > div {
                padding: 0 0px 20px;
                margin: 0 0 20px;
                background: url(/img/Elements/footer-border-horizontal.png) repeat-x left bottom; }
                #main-wrapper #sub-wrapper #footer-wrapper #footer > table > tbody > tr > td.back-to-top > div > a {
                  display: block;
                  height: 80px;
                  overflow: hidden;
                  color: #ddd7c8;
                  font-size: 100px;
                  line-height: 1px; }
                  #main-wrapper #sub-wrapper #footer-wrapper #footer > table > tbody > tr > td.back-to-top > div > a:hover {
                    -webkit-animation: bounce 0.5s ease-out alternate infinite;
                    -moz-animation: bounce 0.5s ease-out alternate infinite;
                    -o-animation: bounce 0.5s ease-out alternate infinite;
                    animation: bounce 0.5s ease-out alternate infinite; }
            #main-wrapper #sub-wrapper #footer-wrapper #footer > table > tbody > tr > td.bank-details {
              background: url(/img/Elements/footer-border-vertical.png) repeat-y right top;
              text-align: left;
              vertical-align: middle;
              line-height: 35px;
              padding: 20px 0; }
            #main-wrapper #sub-wrapper #footer-wrapper #footer > table > tbody > tr > td.copyright {
              background: url(/img/Elements/footer-border-vertical.png) repeat-y left top;
              vertical-align: middle;
              text-align: right;
              padding-top: 20px; }
            #main-wrapper #sub-wrapper #footer-wrapper #footer > table > tbody > tr > td#clash {
              background: url(/img/Elements/footer-border-vertical.png) repeat-y left top;
              vertical-align: bottom;
              text-align: right;
              padding-bottom: 20px; }
            #main-wrapper #sub-wrapper #footer-wrapper #footer > table > tbody > tr > td#social {
              text-align: center; }
              #main-wrapper #sub-wrapper #footer-wrapper #footer > table > tbody > tr > td#social > a {
                display: inline-block;
                width: 68px;
                height: 68px;
                margin: 0 20px 20px;
                opacity: 0.6;
                filter: alpha(opacity=60);
                -webkit-transition: opacity 0.2s ease-out;
                -moz-transition: opacity 0.2s ease-out;
                -o-transition: opacity 0.2s ease-out;
                transition: opacity 0.2s ease-out; }
                #main-wrapper #sub-wrapper #footer-wrapper #footer > table > tbody > tr > td#social > a:hover {
                  opacity: 1;
                  filter: alpha(opacity=100); }
                #main-wrapper #sub-wrapper #footer-wrapper #footer > table > tbody > tr > td#social > a#facebook {
                  background: url(/img/Elements/fb.png); }
                #main-wrapper #sub-wrapper #footer-wrapper #footer > table > tbody > tr > td#social > a#twitter {
                  background: url(/img/Elements/tw.png); }
      #main-wrapper #sub-wrapper #footer-wrapper #footer > ul {
        display: block;
        margin: 0px 0;
        padding: 0; }
        #main-wrapper #sub-wrapper #footer-wrapper #footer > ul > li {
          display: inline-block;
          padding: 0 20px; }

ul.iconlist {
  padding: 90px 0 0; }
  ul.iconlist:before, ul.iconlist:after {
    content: " ";
    display: table; }
  ul.iconlist:after {
    clear: both; }
  ul.iconlist > li {
    position: relative;
    display: block;
    float: left;
    width: 30%;
    height: 521px;
    overflow: hidden;
    margin-left: 5%;
    cursor: pointer; }
    ul.iconlist > li:first-child {
      margin-left: 0px; }
    ul.iconlist > li > div.container {
      position: absolute;
      width: 100%;
      padding: 0px;
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      -webkit-transition: transform 0.5s;
      -moz-transition: transform 0.5s;
      -o-transition: transform 0.5s;
      transition: transform 0.5s; }
      ul.iconlist > li > div.container > a {
        display: block;
        height: 521px;
        padding: 200px 0px 0;
        background: no-repeat center top; }
        ul.iconlist > li > div.container > a > span {
          color: #191a17;
          display: block;
          text-align: center; }
          ul.iconlist > li > div.container > a > span.title {
            min-height: 66px;
            margin-top: 40px;
            font-size: 24px; }
          ul.iconlist > li > div.container > a > span.description {
            padding: 10px 40px 0;
            color: #41403b;
            font-size: 20px; }
      ul.iconlist > li > div.container > span {
        margin: 0 auto;
        padding: 0 20px;
        text-align: center;
        color: #41403b;
        font-size: 20px;
        overflow: hidden; }
      ul.iconlist > li > div.container > a, ul.iconlist > li > div.container > span {
        position: relative;
        overflow: hidden;
        display: block;
        width: 100%;
        height: 521px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
      ul.iconlist > li > div.container.flipped {
        transform: translate3d(0, -521px, 0);
        -o-transform: translate3d(0, -521px, 0);
        -ms-transform: translate3d(0, -521px, 0);
        -moz-transform: translate3d(0, -521px, 0);
        -webkit-transform: translate3d(0, -521px, 0); }

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */ }
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */ }
