$contentWidth: 1000px;
$mainFontColor: #f4efe0;
$textColor: #191a17;
$textColorLight: #41403b;

@import "bootstrap/mixins";
@import "common";

*,*:active,*:focus{outline: 0 !important;}

ul,ol{
	list-style: none;
}

html, body{
	font-family: Arimo;
	color: #191a17;
}

a{
	&:hover{
		text-decoration: none;
	}
}

.uppercase{
	text-transform: uppercase;
}

.fat32{
	width: $contentWidth;
	margin: 0 auto;
}

h2{
	padding: 120px 0 0px;
	margin: 0;

	text-align: center;
	color: $textColor;
	font-size: 40px;
	font-weight: normal;

	@extend .uppercase;

	&.short{
		padding: 30px 0 60px;
	}
}

p{
	padding: 20px 0 0;
	margin: 0;

	color: $textColorLight;
	text-align: center;
	font-size: 22px;
}

#nav-wrapper {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 200;

	background: url(/img/BG/a-vector-pattern-dark.png) repeat left top;
	border-bottom: 1px solid rgba(#7e7f7d,.8);
	@include box-shadow(0 5px 10px rgba(#000000,.8));

	#nav{
		@extend .fat32;
		@include clearfix;

		a#logo{
			display: block;
			float: left;

			width: 92px;
			height: 70px;

			margin: 10px 0 0;

			> object{
				width: inherit;
				height: inherit;
			}
		}

		ul{
			display: block;
			float: left;
			list-style: none;
			margin: 0 0 0 30px;
			padding: 0;

			> li{
				display: block;
				float: left;

				> a{
					display: block;
					height: 100px;
					box-sizing: border-box;

					padding: 20px 20px 0;

					color: #a5a893;
					font-weight: bold;
					font-size: 18px;

					@include transition(color .2s ease-out);

					> i{
						display: block;
						text-align: center;
					}

					> span{
						display: block;
						padding: 5px 10px 0;
					}

					&:hover{
						color: #FFF;
					}
				}
			}
		}

		> div{
			float: right;

			margin: 29px 0 0;

			color: $mainFontColor;
			font-size: 30px;
			font-weight: bold;

			@include opacity(0);
			@include transform(translate3d(200px,0,0));
			@include transition(all .5s ease-out);

			&.shown{
				@include opacity(100);
				@include transform(translate3d(0,0,0));
			}
		}
	}
}

#main-wrapper{
	position: relative;
	overflow: hidden;

	width: 100vw;
	height: 100vh;

	#sub-wrapper{

		#top{
			position: relative;

			width: 100vw;
			height: 100vh;
			min-height: 850px;

			@include box-sizing(border-box);
			padding-top: 101px;

			overflow: hidden;

			background: url(/img/BG/Top-BG.png) no-repeat center center;
			background-size: cover;

			#video-wrapper{
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				z-index: 5;
			}

			#lang-wrapper {
				> ul{
					z-index: 10;
					$navWidth: 260px;
					$navHeight: 76px;

					display: none;
					width: $navWidth;
					height: $navHeight;

					margin: 40px auto 0;
					padding: 0;

					position: relative;
					list-style: none;

					> li{
						position: absolute;
						top: 0px;

						display: block;
						width: $navHeight;
						height: $navHeight;

						border: 2px solid #fff;
						@include rounded(55px);

						background: no-repeat center center;
						background-size: cover;

						@include transition(all .3s ease-out);
						cursor: pointer;

						&.left, &.right{
							z-index: 11;
							left: ($navWidth / 2) - ($navHeight / 2);
							@include transform(scale(.7));
							@include opacity(60);

							&:hover{
								@include transform(scale(.8));
								@include opacity(100);
							}
						}

						&.selected{
							left: ($navWidth / 2) - ($navHeight / 2);
							z-index: 12;

							&:hover{
								@include transform(scale(1.1));
							}
						}

						$langs: en lv ru;
						@each $i in $langs{
							&.#{$i}{ background-image: url(/img/Elements/Flags/#{$i}.png); }
						}
					}


					&:hover > li{
						&.left{
							left: 0px;
						}

						&.right{
							left: $navWidth - $navHeight;
						}
					}
				}
			}

			#slogan{
				position: absolute;
				left: 0;
				right: 0;
				bottom: 64%;
				z-index: 10;

				margin: 0 auto;

				text-align: center;
				color: #f4efe0;
				font-size: 50px;
				text-transform: uppercase;
				@include text-shadow(1px, 4px, 2px, #000);
			}

			#tyre{
				position: absolute;
				left: 0;
				right: 0;
				bottom: 40px;
				z-index: 9;

				margin-left: auto;
				margin-right: auto;

				$width: 500px;
				$height: 500px;
				width: $width;
				height: $height;

				padding: 200px 0 0;

				@include box-sizing(border-box);

				color: $textColor;
				font-weight: bold;
				font-size: 60px;
				text-align: center;

				background: url(/img/Elements/riepas-bg.png) no-repeat center center;

				> div{
					position: absolute;
					left: 0;
					top: 0;

					width: $width;
					height: $height;
					background: url(/img/Elements/riepa.png) no-repeat center center;

					@include transform-style(preserve-3d);
//					&:hover{
//						@include animation(rotate 70s infinite linear);
//					}
				}
			}
		}

		#partner-wrapper{
			background: #fffefd url(/img/Logos/logo-desa-v.png) repeat-x center bottom;
			padding: 0 0 160px;

			@include animation(background-rush 60s linear infinite);

			#partners{
				@extend .fat32;
				padding: 0 0;
			}
		}

		#about-us-wrapper{
			background: #dcd6c6;

			#about-us{
				@extend .fat32;
				padding: 0 0 100px;


			}
		}

		#services-wrapper{
			background: #dcd6c6;

			#services{
				@extend .fat32;
				padding: 0 0 100px;
			}
		}


		#equipment{
			position: relative;
			overflow: hidden;

			width: 100vw;

			> h2{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				z-index: 20;
				color: #FFF;

				padding: 150px 0 0;
			}

			// Huge gallery blocks
			// ----------------------
			> ul{
				position: relative;
				left: 0;

				display: block;
				width: 99999px;

				list-style: none;
				margin: 0;
				padding: 0;

				//@include transition(all .5s ease-out);
				@include clearfix;

				> li{
					position: relative;
					display: block;
					float: left;

					background: {
						repeat: no-repeat;
						size: cover;
					};

					width: 100vw;
					height: 100vh;
					min-height: 800px;

					margin: 0;
					padding: 0;

					> div.overlay{
						position: absolute;
						left: 0;
						right: 0;
						top: 0;
						z-index: 4;

						width: 100%;
						height: 100%;

						background: rgba(#000, .8);
					}

					> div.gallery-wrapper{
						$sizeLeft: 60%;

						position: absolute;
						top: 29%;
						left: 0;
						right: 0;
						z-index: 5;

						@include clearfix;
						@extend .fat32;

						// Gallery images
						// ----------------------
						> ul{
							display: block;
							float: left;

							width: $sizeLeft;
							height: 400px;

							@include clearfix;

							> li{
								display: block;
								float: right;

								margin: 0;
								padding: 0;

								background: #000;

								> a{
									display: block;
									background: no-repeat center center;
									background-size: cover;

									width: 186px;
									height: 200px;

									@include opacity(60);
									@include transition(opacity .3s ease-out);

									&:hover{
										@include opacity(100);
									}
								}
							}
						}

						// Gallery description
						// ----------------------
						> div{
							float: left;
							width: 100 - $sizeLeft;
							height: 400px;

							background: #1a1b18;

							&.alone{
								width: 100%;
							}

							> h3{
								text-transform: uppercase;
								color: #f4efe0;
								font-weight: normal;
								font-size: 24px;
								text-align: center;

								padding: 20px 0 0;
							}

							> p{
								position: relative;
								overflow: hidden;

								display: block;
								height: 280px;
								margin: 20px 0 0;
								padding: 0px 30px;

								font-size: 20px;
								color: #ddd7c8;
								text-align: left;
							}
						}
					}
				}
			}


			// Gallery pager
			// ----------------------
			> div{
				$size: 100px;
				position: absolute;
				left: 0;
				right: 0;
				bottom: 7%;
				z-index: 20;

				text-align: center;

				> a{
					display: inline-block;
					width: $size;
					height: $size;

					margin: 0 5px;

					> span{
						display: block;
						width: $size;
						height: $size;

						background: #000 no-repeat center center;
						background-size: cover;

						border: 2px solid #FFF;
						@include rounded($size / 2);
						@include grayscale_element(100%);
						@include opacity(60);

						@include transform(scale(.8));
						@include transition(all .2s ease-out);
					}

					&:hover{
						> span{
							@include opacity(90);
							@include grayscale_element(50%);
							@include transform(scale(.9));
						}
					}


					&.active, &.active:hover{
						> span{
							@include opacity(100);
							@include grayscale_element(0%);
							@include transform(scale(1));
						}
					}
				}
			}
		}


		#works{
			> ul{
				display: block;
				width: 100%;

				margin: 0;
				padding: 0;

				@include clearfix;
				> li{
					display: block;
					float: left;

					width: 50%;
					margin: 0;
					padding: 0;

					background: #000;

					> a{
						display: block;

						width: 100%;
						height: 300px;
						margin: 0;
						padding: 0;

						background: no-repeat center center;
						background-size: cover;

						@include opacity(60);
						@include transition(opacity .3s ease-out);

						&:hover{
							@include opacity(100);
						}
					}
				}
			}
		}


		#footer-wrapper{
			position: relative;
			z-index: 20;
			@include box-shadow(0 -5px 10px rgba(#000,.6));
			border-top: 1px solid rgba(#7e7f7d,.8);
			background: #191a17;
			padding: 0 0 20px;

			#footer{
				@extend .fat32;
				text-align: center;

				> table{
					width: 100%;
					margin: 20px 0;
					> tbody{
						border-collapse: collapse;

						> tr{
							> td{
								color: $mainFontColor;
								text-align: center;

								&.back-to-top{
									padding: 0 80px;
									> div{
										padding: 0 0px 20px;
										margin: 0 0 20px;
										background: url(/img/Elements/footer-border-horizontal.png) repeat-x left bottom;

										> a{
											display: block;
											height: 80px;
											overflow: hidden;

											color: #ddd7c8;
											font-size: 100px;
											line-height: 1px;

											&:hover{
												@include animation(bounce .5s ease-out alternate infinite);
											}
										}
									}
								}

								&.bank-details{
									background: url(/img/Elements/footer-border-vertical.png) repeat-y right top;
									text-align: left;
									vertical-align: middle;
									line-height: 35px;

									padding: 20px 0;
								}

								&.copyright{
									background: url(/img/Elements/footer-border-vertical.png) repeat-y left top;
									vertical-align: middle;
									text-align: right;

									padding-top: 20px;
								}

								&#clash{
									background: url(/img/Elements/footer-border-vertical.png) repeat-y left top;
									vertical-align: bottom;
									text-align: right;

									padding-bottom: 20px;
								}

								&#social{
									text-align: center;
									> a{
										display: inline-block;
										width: 68px;
										height: 68px;

										margin: 0 20px 20px;
										@include opacity(60);
										@include transition(opacity .2s ease-out);

										&:hover{
											@include opacity(100);
										}

										&#facebook{ background: url(/img/Elements/fb.png); }
										&#twitter{ background: url(/img/Elements/tw.png); }
									}
								}
							}
						}
					}
				}

				> ul{
					display: block;
					margin: 0px 0;
					padding: 0;

					> li{
						display: inline-block;
						padding: 0 20px;
					}
				}
			}
		}
	}
}


ul.iconlist{
	@include clearfix;
	padding: 90px 0 0;

	> li{
		$height: 521px;
		position: relative;

		display: block;
		float: left;
		width: 30%;
		height: $height;

		overflow: hidden;

		margin-left: 5%;
		&:first-child{
			margin-left: 0px;
		}

		cursor: pointer;

		> div.container{
			position: absolute;

			width: 100%;
			padding: 0px;

			@include transform-style(preserve-3d);
			@include transition(transform .5s);


			> a{
				display: block;

				height: $height;
				padding: 200px 0px 0;

				background: no-repeat center top;

				> span{
					color: $textColor;
					display: block;
					text-align: center;

					&.title{
						min-height: 66px;
						margin-top: 40px;

						font-size: 24px;
						@extend .uppercase;
					}

					&.description{
						padding: 10px 40px 0;
						color: $textColorLight;
						font-size: 20px;
					}
				}
			}


			> span{
				margin: 0 auto;
				padding: 0 20px;

				text-align: center;
				color: $textColorLight;
				font-size: 20px;

				overflow: hidden;
			}

			> a, > span{
				position: relative;
				overflow: hidden;

				display: block;
				width: 100%;
				height: $height;

				@include box-sizing(border-box);
			}

			&.flipped{
				@include transform(translate3d(0,-$height,0));
			}
		}
	}
}


@media (min-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }